<div class="tradpaginator_wrapper" data-aa="<%= pages.aa %>">
	<% if(pages.includefirstlast){ %>
		<div class="tradpaginator_activebut tradpaginatorfirstlast tradpaginatorfirst" data-pageno="1"><%= pages.first %></div>
	<% } %>
	<% if(pages.includeprevnext){ %>
		<div class="tradpaginator_activebut tradpaginatorprevnext" data-pageno="<%= pages.runningpage - 1 %>"><%= pages.previous %></div>
	<% } %>
	<% _.each(pages.pagebutts, function( page ){ %>
	<div class="tradpaginator_activebut tradpaginator_page<% if(page.runningpage){ %> tradpaginator_active<% } %>" data-pageno="<%= page.pageno %>">
		<%= page.pageno %>
	</div>
	<% }); %>
	<% if(pages.includeprevnext){ %>
		<div class="tradpaginator_activebut tradpaginatorprevnext" data-pageno="<%= pages.runningpage + 1 %>"><%= pages.next %></div>
	<% } %>
	<% if(pages.includefirstlast){ %>
		<div class="tradpaginator_activebut tradpaginatorfirstlast tradpaginatorlast" data-pageno="<%= pages.lastpage %>"><%= pages.last %></div>
	<% } %>
	<div class="clear"></div>
	<% if(pages.include_jumpmenu){ %>
	<%= pages.jumpmenu_caption %> 
	<select class="tradpaginatorjumpmenu">
		<% for(var i=1; i<=pages.lastpage; i++){ %>
		<option value="<%= i %>"<% if(i == pages.runningpage){ %> selected<% } %>><%= i %></option>
		<% } %>
	</select>
	<% } %>
</div>
